<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Skogsaas.Legion" version="1.0.6235.26723" targetFramework="net452" />
  <package id="Skogsaas.Legion.Json" version="1.0.6235.29436" targetFramework="net452" />
  <package id="Skogsaas.Legion.RestJson" version="1.0.6238.37975" targetFramework="net452" />
  <package id="Skogsaas.Monolith" version="1.0.6237.16948" targetFramework="net452" />
  <package id="Skogsaas.Monolith.Plugins.ConsoleLogger" version="1.0.6237.16957" targetFramework="net452" />
  <package id="Skogsaas.Monolith.Plugins.RestJson" version="1.0.6238.37065" targetFramework="net452" />
</packages>